<!doctype html>
<title>Mini Project 3 - LAW </title>

<h1>Homepage</h1>
<h2>Asynchronous File Download using Grpc and Flask</h2>

    <form action="http://localhost:5000/" method="POST">
        <input type="text" name="url" />
        <input type="submit">
    </form>


<div>
  {% if url %}
     <h4 id="progress">File is being downloaded: 0%</h4>
        <a id="download" href="{{ url }}"></a>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

<!-- Include from CDN for better performance, alternatively you can locally copy as well -->
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>

<script type="application/javascript">
  $(function () {
    let stompClient;

    const stompConfig = {
      connectHeaders: {
        login: "guest",
        passcode: "guest"
      },

      brokerURL: "ws://localhost:15674/ws",
      reconnectDelay: 200,
        onConnect: function (frame) {
          console.log("CONNECTED!!!!")

        const subscription = stompClient.subscribe('/exchange/{{ exchange_name }}/{{ routing_key }}', function (message) {
          let payload = message.body;
          console.log(payload);
          displayIncomingMessage(payload);
        });
      }
    };

    stompClient = new StompJs.Client(stompConfig);
    stompClient.activate();

    function displayIncomingMessage(message) {
        if(message.includes('downloads')) {
            $("#download").html(message)

        } else {
            $("#progress").html("File is being downloaded: " +"<a href=\""+ message + "\""+">"+message+"</a>"+ "%")
        }
    }
  })
</script>



<br />
<br />
<br />
<br />
<footer>
    Vincentius Adi Kurnianto - 1706979480
</footer>